@use "./partials/variables" as *;
@use "./partials/boredForm";
@use "./partials/landingPage";

.App {
  text-align: center;
}
body{
  background: $whiteColor;
  // columns: $whiteColor;
}

.eventCatalogue {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.eventCard {
  background: #d3cfe6;
  border: 1px solid #871a3e;
  border-radius: 5px;
}

li {
  list-style: none;
}
.testImg {
  max-width: 90%;
  height: auto;
}
