@use "./partials/variables" as *;
@use "./partials/boredForm";
@use "./partials/landingPage";
@use "./partials/header";
@use "./partials/setup";
@use "./partials/baseStyle";
@use "./partials/ticketMaster";
@use "./partials/inviteCard";


.App {
  text-align: center;
}
body{
  background: $whiteColor;
  columns: $whiteColor;
}