@use "./partials/variables" as *;
@use "./partials/boredForm";
@use "./partials/landingPage";
@use "./partials/header";
@use "./partials/setup";
@use "./partials/baseStyle";
@use './partials/tmForm';
// @use './partials/tmCard';
@use "./partials/ticketMaster";
@use "./partials/boredAPI";
@use "./partials/inviteCard";
@use "./partials/tmTestCard";
// @use "./partials/tmTestForm";
@use "./partials/displayAllEvents";



.App {
  text-align: center;
}
body{
  background: $whiteColor;
  columns: $whiteColor;
}