.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.landing-container form label {
  font-family: "Judson";
  color: rgb(0, 0, 0);
}

.App {
  text-align: center;
}

body {
  background: rgb(255, 255, 255);
}

.eventCatalogue {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.eventCard {
  background: #d3cfe6;
  border: 1px solid #871a3e;
  border-radius: 5px;
}

li {
  list-style: none;
}

.testImg {
  max-width: 90%;
  height: auto;
}

form {
  border: 2px solid rgb(208, 202, 46);
  border-radius: 5px;
}
form input,
form select {
  border-radius: 5px;
  border-color: rgb(208, 202, 46);
  background-color: rgb(247, 245, 192);
}