html {
  font-size: 125%;
  scroll-behavior: smooth;
}


.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
  }

  
  ul,
  li,
  a,
  input,
  h1,
  p {
    padding: 0;
    margin: 0;
  
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }