@use "variables" as *;

.inviteCard{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .imgContainer {
        margin-top: 2rem;
        width: 80%;
    margin: 3rem auto;
    .imgContainer {
        margin-top: 2rem;
        width: clamp(375px, 75%, 750px);
        display: flex;
        justify-content: space-around;
        img {
            max-width: 100%;
            border: 10px double #71982f;
            border-radius: 1rem;
            background: white;
        }
    }
}
.cardContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 10px double #f7f5f1;
        border-radius: 1rem;
        background-color: #71982f;

        width: clamp(375px, 75%, 750px);
        margin: 2rem auto;

        .activityInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #f8bd01;
            border-radius: 1rem;
            border:10px double  $whiteColor;
            padding: 2%;
            margin: 0.5rem ;
            img {
                width: clamp(100px,100%,600px);
                border:5px double  $whiteColor;
                border-radius: 1rem;
                // margin-bottom: .8rem;
            }
            .activityTitle{
                text-transform: capitalize;
                font:italic 1.5rem $bodyFont;
                color: rgb(68, 70, 67);
                margin-bottom: .8rem;
            }
            p{
                font: 1.2rem $bodyFont;
                color: rgb(68, 70, 67);
                margin-bottom: .8rem;
            }
        }

        .eventTheme{
            text-transform: capitalize;
            font: 3rem $headingFont;
            color: $whiteColor;
            margin: 1.5rem;
        }
        .host {
            font: 1.2rem $bodyFont;
            margin-bottom: 1rem;
            color: rgb(68, 70, 67);
            span{
                font:1.5rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
}
.descriptionText{
    max-width: 80%;
    height: 100px;
    overflow-wrap: break-word;
        margin-bottom: 1rem;

        p {
            font: 1.2rem $bodyFont;
            color: rgb(68, 70, 67);
            display: inline;
            border-bottom: solid 1px #000;
            padding-bottom: 0.02rem;

        }
}