@use "variables" as *;

.inviteCard{
    text-align: center;
    position: absolute;
    top: 20%;
    bottom:20% ;
    left:10%;
    right: 10%;
    background-color:#71982f;
    border:10px double $whiteColor;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font: 3rem $headingFont;
        color:$whiteColor;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        text-shadow: 1px 1px $blackColor;
        text-transform: capitalize;
    }
    p{
            color: $blackColor;
            text-transform: capitalize;
            // margin: 0.5rem 0;
            padding: 10px;
            // background-color: rgba(64, 3, 168, 0.4);
            border-radius: 1rem;
            font: 1.2rem $bodyFont;
    }
}

.inviteImage{
    border-radius: 1rem;
}