@use "variables" as *;


html{
    background: url('../../assets/Picture3.jpg')  fixed top/100vw;
}

.landing-container {
    text-align: center;
    position: absolute;
    top: 20%;
    bottom:20% ;
    left:10%;
    right: 10%;
    background-color:#71982f;
    // background-color:rgb(255, 255, 255, 0.9);
    // background-color: hsla(45,29%,76%,.9);
    border:10px double $whiteColor;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font: 3rem $headingFont;
        color:$whiteColor;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        text-shadow: 1px 1px $blackColor;
        text-transform: uppercase;
    }

    .subtitle {
        padding: 0 1.5rem;
        p {
            color: $blackColor;
            margin: 0;
            padding: 0;
            font: italic 1.2rem $bodyFont;
        }
        margin-bottom: 1rem;
    }

    .linkContainer {
        display: flex;
        flex-direction: column;
        font: 1.2rem $bodyFont;
        margin-bottom: 1.5rem;
        button {
            margin: .5rem;
            border: none;
            font: 1.3rem $bodyFont;
            text-transform: capitalize;
            cursor: pointer;
            text-align: center;
            transition: .3s;
            border-radius: 2rem;
            padding: .6rem .9rem;
            width: 14rem;
            color: $blackColor;
            background-color: #f8bd01;
            transition: 0.250s;
            animation: glow 2s infinite;
            // &:hover,&:focus{
            //     color: red;
            //     // box-shadow: -5px -5px 5px 5px #5e498e;
                
            // }
        }
        @keyframes glow {
            from {

              box-shadow: 0 0 10px -10px $whiteColor;
            }
            to {
              box-shadow: 0 0 10px 10px $whiteColor;
            }
          }
        
    }

}

@media (max-width: 768px) {
    .landing-container {
        h1 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            margin-top: 1.5rem;
        }

        .subtitle p {
            font-size: 1rem;
        }

        .linkContainer {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            button {
                width: 10rem;
                font-size: 0.8rem;
            }

            @keyframes glow {
                from {
                    box-shadow: 0 0 6.5px 6.5px $whiteColor;
                }

                to {
                    box-shadow: 0 0 6.5px 6.5px $whiteColor;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .landing-container{
        h1 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            margin-top: 1.5rem;
            }

        .subtitle p{
            font-size: 0.5rem;
        }

        .linkContainer {
            display: flex;
            flex-direction: column;
            font: 1.2rem $bodyFont;
            margin-bottom: 1.5rem;

            button {
                font: 0.4rem $bodyFont;
                padding: .2rem .5rem;
                width: 7rem;
            }

            @keyframes glow {
                from {
                    box-shadow: 0 0 5px -5px $whiteColor;
                }

                to {
                    box-shadow: 0 0 5px 5px $whiteColor;
                }
            }
        }
    }
}