
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Josefin+Sans:wght@300;400;500&display=swap');

$blueColor: #41AAF0;
$redColor:  #F23D37;
$yellowColor: #d0ca2e;
$whiteColor: #FFF;
$blackColor: #000;

$headingFont: "Cabin Sketch";
$bodyFont: "Josefin Sans";
$buttonFont: "Judson"

//font-size:
    //1.2rem